<div class="container-fluid">

  <nav class="navbar navbar-expand-sm bg-dark navbar-light">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link linkc" [routerLink]="['newaccommodation']" >New accommodation</a>
      </li>
  
      <li class="nav-item">
        <a class="nav-link linkc" [routerLink]="['priceplan']" >Price plan</a>
      </li>

      <li class="nav-item">
        <a class="nav-link linkc" [routerLink]="['reservations']" >Reservations</a>
      </li>

      <li class="nav-item">
        <a class="nav-link linkc" [routerLink]="['mineaccommodation']" >Mine accommodations</a>
      </li>


      <li class="nav-item">
        <button class="buttonL" (click)="logoutFun()">Logout</button>
      </li>

    </ul>
  </nav>

</div>

<div>

  <router-outlet></router-outlet>
</div>
