

<div class="container-fluid">
    
    <div class="row ">
      <div class="col position bg-light" style="background-color:rgb(206, 206, 248);">
          <ul *ngFor="let accommodation of accommodations">
              <div>
                  <li>
                    <p class="html">Hotel: {{accommodation.name}} <br>
                    Type: {{accommodation.type}} <br>
                    Description: {{accommodation.description}} <br>
                   
                    </p>
                    <div>
                      <button class="btn btn-primary" id="{{accommodation.id}}" (click)="editAcc(accommodation.id)">Edit</button>
                      <button class="btn btn-primary" id="{{accommodation.id}}" (click)="deleteAcc(accommodation.id)">Delete</button>
                      <button class="btn btn-primary" id="{{accommodation.id}}" (click)="setreserve(accommodation.id)" data-toggle="modal" data-target="#myModal">Reserve</button>
                    </div>
                  </li>
          
              </div>
          
            </ul>
      </div>
      
      <div class="col position1" >
          <div *ngIf="acc && loc"  class="container bg-light" style="margin-top: 14px; margin-bottom: 50px;">

              <form  action="">
              
                <div class="form-group ">
                  <label class="col-sm-2" for="Name">Name:</label>
                  <input class="col-sm-2" type="text" [(ngModel)]="acc.name" name="name" style="font-size: 12px" >
                </div>

                <div class="form-group ">
                    <label class="col-sm-2" for="Name">Type:</label>
                    <select id="type" (change)="selectChangeHandler($event)" name="type" style="font-size: 13px" class="col-sm-2">
                        <option class="option0" value="0" selected hidden>Choose ...</option>
                        <option value="Hotel">Hotel</option>
                        <option value="Bad&breakfast">Bad&breakfast</option>
                        <option value="Apartman">Apartman</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label class="col-sm-2 d-inline align-top"  for="Name">Description:</label>
                    <textarea class="form-control col-sm-2 d-inline" [(ngModel)]="acc.description" name="description" style="margin-left: 70px; font-size: 11px;" rows="2"  id="comment"></textarea>
                    
                </div>
                <legend style="margin-left: 12px;">Location:</legend>
                <div class="form-group ">
                    <label class="col-sm-2" for="Country">Country:</label>
                    <input class="col-sm-2" type="text" [(ngModel)]="loc.country" name="country" style="font-size: 12px" >
                </div>
                <div class="form-group ">
                    <label class="col-sm-2" for="City">City:</label>
                    <input class="col-sm-2" type="text" [(ngModel)]="loc.city" name="city" style="font-size: 12px" >
                </div>
                <div class="form-group ">
                    <label class="col-sm-2" for="Address">Address:</label>
                    <input class="col-sm-2" type="text" [(ngModel)]="loc.address" name="address" style="font-size: 12px" >
                </div>
                <div class="row"></div>
                
                <legend style="margin-left: 12px;">Additional services:</legend>
                
                <div class="row">
                  <mat-selection-list class="col-sm-4" #list>
                   <mat-list-option *ngFor="let shoe of additionalSer" [selected]="shoe.selected" [value]="shoe" (click)="onSelectOptionChange(list)">
                     {{shoe}}
                  
                   </mat-list-option>
                  </mat-selection-list>
                </div>
                              
                <button style="margin-left: 300px;" type="submit" (click)="submitAcc(acc.id)" class="btn btn-primary">Submit</button>
              
              
              </form>
                            
              </div>
      </div>
      
    </div>
  </div>




  <div class="modal" tabindex="-1" id="myModal" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add rooms</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row">          
                  <label class="col-sm-4">Reserve from:</label>
                  <input class="col-sm-6" type="text" name="reservefrom" [(ngModel)]="reserveAccommodation.reservedFrom" placeholder="yyyy-mm-dd hh:mm:ss">         
               
              </div>
              
              <div class="row" style="margin-top: 10px;">          
                  <label class="col-sm-4">Reserve to:</label>
                  <input class="col-sm-6" type="text" name="reserveto" [(ngModel)]="reserveAccommodation.reservedTo" placeholder="yyyy-mm-dd hh:mm:ss">         
               
              </div>
            
    
    
          </div>
          <div class="modal-footer">
            
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="reserveAcc()">Ok</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>