<div class="text-center">
  <h5 style="margin-top: 19px;">Create new accommodation</h5>
</div>

<div class="container bg-light" style="margin-top: 14px; margin-bottom: 50px;">

<form  action="">

  <div class="form-group ">
    <label class="col-sm-2" for="Name">Name:</label>
    <input class="col-sm-2" type="text" [(ngModel)]="accommodation.name" name="name" style="font-size: 12px" placeholder="Name">
  </div>
  <div class="form-group ">
      <label class="col-sm-2" for="Name">Type:</label>
      <select id="type" (change)="selectChangeHandler($event)" name="type" style="font-size: 13px" class="col-sm-2">
          <option selected>Choose...</option>
          <option value="Hotel">Hotel</option>
          <option value="Bad&breakfast">Bad&breakfast</option>
          <option value="Apartman">Apartman</option>
      </select>
  </div>
  <div class="form-group ">
      <label class="col-sm-2 d-inline align-top"  for="Name">Description:</label>
      <textarea class="form-control col-sm-2 d-inline" [(ngModel)]="accommodation.description" name="description" style="margin-left: 70px; font-size: 11px;" rows="2"  id="comment"></textarea>
      
  </div>
  <legend style="margin-left: 12px;">Location:</legend>
  <div class="form-group ">
      <label class="col-sm-2" for="Country">Country:</label>
      <input class="col-sm-2" type="text" [(ngModel)]="accommodation.country" name="country" style="font-size: 12px" placeholder="Country">
  </div>
  <div class="form-group ">
      <label class="col-sm-2" for="City">City:</label>
      <input class="col-sm-2" type="text" [(ngModel)]="accommodation.city" name="city" style="font-size: 12px" placeholder="City">
  </div>
  <div class="form-group ">
      <label class="col-sm-2" for="Address">Address:</label>
      <input class="col-sm-2" type="text" [(ngModel)]="accommodation.address" name="address" style="font-size: 12px" placeholder="Address">
  </div>
  <div class="row"></div>
 
  <legend style="margin-left: 12px;">Additional services:</legend>
  
  <div class="row">
    <mat-selection-list class="col-sm-4" #shoes>
     <mat-list-option *ngFor="let shoe of additionalSer" (selectChange)="onSelectOptionChange(shoe)">
       {{shoe}}
    
     </mat-list-option>
    </mat-selection-list>
  </div>


  <legend style="margin-left: 12px;">Rooms:</legend>
  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add rooms</button>
    <div class="row">
      <div class="col-sm-2"><button style="margin-left: 300px;" type="submit" (click)="addNewAccommodation()" class="btn btn-primary">Submit</button></div>
      <div class="col-*-*"></div>
    </div>
                  
                  


</form>


<div class="modal" tabindex="-1" id="myModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add rooms</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">          
              <label class="col-sm-4">One beds:</label>
              <input class="col-sm-2" type="text" name="fivebads" [(ngModel)]="accommodation.onebeds">         
           
          </div>
        
        <div class="row">          
            <label class="col-sm-4">Two beds:</label>
            <input class="col-sm-2" type="text" name="twobads" [(ngModel)]="accommodation.twobeds">         
            
        </div>

        <div class="row">          
            <label class="col-sm-4">Theere beds:</label>
            <input class="col-sm-2" type="text" name="theerebads" [(ngModel)]="accommodation.theerebeds">         
         
        </div>

        <div class="row">          
            <label class="col-sm-4">Four beds:</label>
            <input class="col-sm-2" type="text" name="fourbads" [(ngModel)]="accommodation.fourbeds">         
         
        </div>

        <div class="row">          
            <label class="col-sm-4">Five beds:</label>
            <input class="col-sm-2" type="text" name="fivebads" [(ngModel)]="accommodation.fivebeds">         
         
        </div>



      </div>
      <div class="modal-footer">
        
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>


</div>